<% title 'Terms of Reference | FinMark Trust' %>

<div class="l-tools">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
              <h1 class="title -highlight -huge">Terms  <span style="color: #ffffff">of Reference</span></h1>
                <p class="subtitle">Our terms of reference cover expressions of interest, full TORs, available positions and consultant work. Check in here regularly for updates.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">



	 <div class="row js-masonry-cards">
   <div class="js-masonry-item grid-s-12 grid-m-12">
            <br>

 <p>

<h2 class="title heading -medium -center -blue -divider">Currently no Terms of Reference available, check back later</h2>
<br><br>
</p>
          </div>



</div>




      </div>
    </div>
  </div>
</div>
