<% title 'Terms of Reference | FinMark Trust' %>

<div class="l-tools">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
                <h1 class="title -highlight -huge">Terms of Reference</h1>
                <p class="subtitle">Our terms of reference cover expressions of interest, full TORs, available positions and consultant work. Check in here regularly for updates.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">
		 <div class="row js-masonry-cards">








           <div class="js-masonry-item grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/TOR_Review of Financial Inclusion Impact of Risk Based AML.pdf" target="_blank" alt="Terms of Reference" rel="noopener noreferrer">
                <div class="picture" style="background-image: url(<%= asset_path('http://finmark.org.za/images/TOR/TOR_11_nov_2.jpg') %>)"></div>
                <div class="metadata">
                  <h4 class="title -dark -xs">Review of Implementation and Financial Inclusion Impact of Risk Based AML/CT </h4>
                  <p>FinMark Trust invites proposals to conduct a market assessment on the implementation of risk-based approaches by the financial services industry & its impact on financially including the poor and vulnerable in South Africa. </p>
<br>
                  <span style="color:#525252; font-size:11px; font-style: italic">Proposals to be submitted by 30 November 2020.</span>
                </div>
              </a>
            </article>
          </div>









        </div>
      </div>
    </div>
  </div>
</div>
