<% title 'Terms of Reference | FinMark Trust' %>

<div class="l-tools">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
              <h1 class="title -highlight -huge">Terms  <span style="color: #ffffff">of Reference</span></h1>
                <p class="subtitle">Our terms of reference cover expressions of interest, full TORs, available positions and consultant work. Check in here regularly for updates.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">


	 <div class="row js-masonry-cards">





         <div class="js-masonry-item grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/Digital Payments Expert - COVID19 Payments SA Rapid Response.pdf" target="_blank" alt="Terms of Reference" rel="noopener noreferrer">
                <div class="picture" style="background-image: url(<%= asset_path('http://finmark.org.za/images/TOR/ToR Digital Payments Expert.jpg') %>)"></div>
                <div class="metadata">
                  <h4 class="title -dark -xs">Digital Payments Expert - COVID19 Payments SA Rapid Response Incubator</h4>
                  <p>FinMark Trust seeks the services of a consultant with in-depth knowledge of grant distribution models for the Covid19 Payments: South Africa Rapid Response Incubator project. Read the Terms of Reference for more details. </p>
<br>
                  <span style="color:#525252; font-size:11px; font-style: italic">Proposals to be submitted by 16 April 2021.</span>
                </div>
              </a>
            </article>
          </div>














        </div>








      </div>
    </div>
  </div>
</div>
