<% title 'Terms of Reference | FinMark Trust' %>

<div class="l-tools">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
                <h1 class="title -highlight -huge">Terms of Reference</h1>
                <p class="subtitle">Our terms of reference cover expressions of interest, full TORs, available positions and consultant work. Check in here regularly for updates.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">
		 <div class="row js-masonry-cards">

<h2 class="title heading -medium -center -blue -divider">Content coming soon </h2>

<br><br><br><br>

 <!--
         <div class="js-masonry-item grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/Gender_Training.pdf" target="_blank" alt="FinNeeds Toolkit" rel="noopener noreferrer">
                <div class="picture" style="background-image: url(<%= asset_path('http://finmark.org.za/images/TOR/terms03.jpg') %>)"></div>
                <div class="metadata">
                  <h4 class="title -dark -xs">Training on gender mainstreaming</h4>
                  <p>The consultant will be required to design and facilitate a 2-day participatory training workshop which will equip staff members with the knowledge and skills to mainstream gender in programmes, throughout project cycles and in operations. <br><br>The consultant will be required to work under the guidance and supervision of FMT’s gender specialist and review relevant FMT’s policies, programmes, projects, action-plans, and reports in preparation for the training.</p>
<br>
                  <span style="color:#525252; font-size:11px; font-style: italic">Proposals to be submitted by 14th of October 2020.</span>
                </div>
              </a>
            </article>
          </div>
-->











        </div>
      </div>
    </div>
  </div>
</div>
