<% title 'Data for Financial Markets' %>



<div class="l-about">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <h1 class="title -highlight -huge">Data for Financial Markets</h1>
                <p class="subtitle">
                  Get in touch with us to exchange ideas or if you would like to work with us. <a href="#Contact" class="js-anchor">contact</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>








  <div class="l-content">
    <div class="wrapper">
    <div class="l-section -insights">

      <div id="about-us" class="c-card-highlight -about -reverse">
        <div class="content">
          <h3 class="title -dark -big">Data for Financial Markets</h3>



 <p>
Data is the new oil. Big data, small data, structured data, unstructured data, demand side data, supply side data… we live in a data rich world. With this data ecosystem, being so abundant and our research questions more complex than ever before, we can no longer only rely on limited traditional Financial Inclusion (FI) data solutions. Not only is there now a plethora of new data sources, but traditional data collection methods are becoming prohibitively expensive along with serious questions being raised about the quality and relevance of this research.

The DATA FOR FINANCIAL MARKETS programme was established to address these new data opportunities and challenges. The programme houses our new and improved gold standard FinScope Consumer & MSME survey offering, along with a suite of new products that include a low cost mobile data collection capability, Geospatial (GIS) solutions, a data portal housing numerous FI data sets and an Analytics capability than can generate insights from all data sources, including Big Data.
</p>
 </div>
 </div>

 </div>
 </div>
</div>





</div>

