.c-app-logo {
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 14px;
    
    @media #{$mq-tablet} {
      margin-top: 14px;
      margin-bottom: 10px;
    }

    @media #{$mq-desktop} {
      margin-top: 24px;
      margin-bottom: 18px;
    }

    @media #{$mq-desktop-large} {
      margin-top: 27px;
      margin-bottom: 20px;
    }

    > img {
      width: 90px;
      height: 47px;
      
      @media #{$mq-tablet} {
        width: 109px;
        height: 57px;
      }

      @media #{$mq-laptop} {
        width: 164px;
        height: 86px;
      }

      @media #{$mq-desktop} {
        width: 191px;
        height: 100px;
      }

      @media #{$mq-desktop-large} {
        width: 218px;
        height: 114px;
      }
    }
  }

  img.finmark-tag {
    width: 350px;
    height: 17px;
    margin-left: 15px;

    @media #{$mq-laptop} {
      width: 424px;
      height: 21px;
      margin-left: 30px;
    }

    @media #{$mq-desktop} {
      width: 448px;
      height: 22px;
      margin-left: 60px;
    }

    @media #{$mq-desktop-medium} {
      margin-left: 80px;
    }

    @media #{$mq-desktop-large} {
      width: 486px;
      height: 24px;
      margin-left: 100px;
    }

    .fixed-nav & {
      display: none !important;
    }
  }

  &.-fixed {
    a {
      margin-top: 0;
      margin-bottom: 0;

      > img {
        width: 66px;
        height: 35px;
        margin: 0;
      }
    }
    
    > img {
      display: none;
    }
  }
}
