.c-modal-about-read-more {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  padding: 10px $wrapper-padding-mobile;

  @media #{$mq-tablet} {
    padding: 10px 60px;
  }

  > .content {
    padding: $wrapper-padding-mobile;
    background-color: $color-4;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media #{$mq-tablet} {
      max-height: 460px;
      padding: 50px 0;

      ul {
        margin: 10px 0 20px;
        padding-left: 30px;

        li {
          display: list-item;
          margin-bottom: 10px;
          list-style: disc;
          color: #203366;
          font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.75;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    p {
      line-height: 1.6;
    }

    li {
      line-height: 1.6;
    }
  }

  .link {
    color: $color-1;
    font-weight: $font-weight-light;
  }

  .title {
    margin-bottom: 20px;
    margin-top: 20px;

    &.-leading {
      margin-top: 0;
    }
  }

  @media #{$mq-tablet} {
    &::before {
      position: fixed;
      top: 10px;
      width: calc(100% - 2 * 60px);
      height: 50px;
      background: linear-gradient(to top, rgba($color-4, 0), $color-4);
      content: '';
    }

    &::after {
      position: fixed;
      bottom: 10px;
      width: calc(100% - 2 * 60px);
      height: 50px;
      background: linear-gradient(to bottom, rgba($color-4, 0), $color-4);
      content: '';
    }
  }

}



.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(32,51,102,0.9);
  padding: 35px;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #203366;
  background-color: #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #62a6b8;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  color: #203366;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
