.l-national-surveys {

  .l-content {
    padding-top: 35px;

    section {
      &:not(:first-child) {
        margin: 40px 0 0;

        @media #{$mq-laptop} {
          margin-top: 30px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 60px;
      }

      &.l-country-list {
        border-top: 1px solid rgba($color-1, .2);

        > header {
          margin: 75px 0 0;
        }
      }

      .l-card-grid {
        margin: 40px 0 0;
      }
    }
  }
}
