<a href="https://finmark.org.za/knowledge-hub/blog/a-safety-net-for-those-forgotten-by-covid-19-policy-support-in-south-africa?entity=blog" target="_blank" title="Migrant Relief Fund">
  <%= image_tag '/images/campaigns/migrant_fund.svg', :alt => 'This months campaign Migrant Relief Fund' %>
</a>
