<a href="https://finmark.org.za/Women_Journey/index.html" target="_blank" title="Women Journey">
  <%= image_tag '/images/campaigns/women_journey.svg', :alt => 'This months campaign women Journey' %>
</a>

