<a href="https://finmark.org.za/knowledge-hub/articles/sadc-covid-19-migrant-relief-fund?entity=blog" target="_blank" title="Migrant Relief Fund">
  <%= image_tag '/images/campaigns/MRF.svg', :alt => 'Migrant Relief Fund' %>
</a>
