<a href="https://finmark.org.za/system/documents/files/000/000/296/original/FMT_2020_Annual_Report.pdf?1614067524" target="_blank" title="2020 Annual Report">
  <%= image_tag '/images/campaigns/report.svg', :alt => 'This months campaign 2020 Annual Report' %>
</a>
