<a href="http://remittances.finmark.org.za" target="_blank" title="SADC Remittance dashboard">
	<%= image_tag '/images/campaigns/remittance.svg', :alt => 'This months campaign SADC Remittance dashboard' %>
</a>
