<a href="https://covid19tracker.africa" target="_blank" title="Visit covid19tracker.africa">
	<%= image_tag '/images/campaigns/covid.svg', :width => '200', :alt => 'This months campaign COVID-19 Tracking survey status' %>
</a>
