<a href="https://finmark.org.za/knowledge-hub/all?offset=100=✓&topics=remittances&locations=&button=" target="_blank" title="Knowledge hub on Remittances">
  <%= image_tag '/images/campaigns/remittance.svg', :alt => 'This months campaign Knowledge hub on Remittances' %>
</a>
