<a href="https://finmark.org.za/knowledge-hub/blog/women-in-the-sadc-economy-livelihoods-upended-but-resilience-and-collaboration-shine-through?entity=blog" target="_blank" title="Women in the SADC economy">
  <%= image_tag '/images/campaigns/Women.svg', :alt => 'This months campaign Women in the SADC economy' %>
</a>
