<a href="https://sadcinnovation.org/" target="_blank" title="SADC Innovation and Investment Challenge">
  <%= image_tag '/images/campaigns/innnovation.svg', :alt => 'This months campaign SADC Innovation and Investment Challenge' %>
</a>
