.c-home-intro-hero {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	//min-height: 80vh;
	padding: 80px 0 70px;
	position: relative;

	@media #{$mq-tablet} {
		//min-height: 0;
		//height: 785px;
		margin-top: -64px;
		padding-top: 130px;
		padding-bottom: 64px;
	}

	&-row {
		@media #{$mq-tablet} {
			display: flex;
			justify-content: space-between;
		}
	}

	&-content {
		@media #{$mq-tablet} {
			max-width: 450px;
		}

		@media #{$mq-laptop} {
			max-width: 530px;
		}

		@media #{$mq-desktop} {
			max-width: 670px;
		}

		@media #{$mq-desktop-large} {
			max-width: 740px;
		}

		h1 {
			font-size: 30px;
			font-weight: 800;

			@media #{$mq-mobile} {
				font-size: 40px;
			}

			@media #{$mq-tablet} {
				font-size: 50px;
				line-height: 1;
			}

			@media #{$mq-desktop} {
				font-size: 56px;
			}

			@media #{$mq-desktop-large} {
				font-size: 64px;
			}
		}

		p {
			font-size: $font-size-regular;
			line-height: 1.4;
			margin-top: 1.6em;
			font-weight: 400;
			color: $color-gray-light;

			@media #{$mq-tablet} {
				font-size: $font-size-regular + 2;
			}

			@media #{$mq-desktop-large} {
				font-size: $font-size-regular + 4;
			}
		}
	}

	.c-button {
		background-color: $color-2;
	}

	&-dropdowns {
		margin-top: 40px;

		@media #{$mq-mobile-large} {
			display: flex;
		}

		@media #{$mq-tablet} {
			margin-top: 40px;
			max-width: 450px;
		}

		@media #{$mq-laptop} {
			max-width: 530px;
		}

		@media #{$mq-desktop} {
			max-width: 670px;
		}

		@media #{$mq-desktop-large} {
			max-width: 740px;
		}
	}

	&-dropdown {
		position: relative;

		@media #{$mq-mobile-large} {
			flex: 2;
		}

		&-location {
			margin: 10px 0;

			@media #{$mq-mobile-large} {
				margin: 0 10px;
			}

			@media #{$mq-desktop} {
				margin: 0 30px;
			}
		}

		&-icon {
			content: "";
			position: absolute;
			right: 5px;
			top: 5px;
			bottom: 5px;
			width: 36px;
			border-radius: 6px;
			background-color: $color-1;
			color: $color-white;
			display: flex;
			align-items: center;
			justify-content: center;

			.icon {
				width: 30px;
				height: 30px;
			}
		}

		select {
			width: 100%;
			border: 1px solid $color-gray-light;
			border-radius: 6px;
			-webkit-appearance: none;
			-moz-appearance: none;
			background: #fff;
			padding: 16px 74px 16px 19px;
			color: $color-gray;
			line-height: 1;
			font-size: $font-size-regular - 1;

			@media #{$mq-desktop-large} {
				font-size: $font-size-regular;
			}
		}
	}

	&-caption {
		margin-top: 22px;

		p {
			color: $color-white;
			font-size: $font-size-regular  - 4;
			font-style: italic;
			font-weight: 400;

			@media #{$mq-desktop-large} {
				font-size: $font-size-regular - 4;
			}
		}
	}

	&-links {
		@media #{$mq-laptop} {
			width: 340px;
		}

		.title {
			font-size: $font-size-regular;
			font-weight: $font-weight-semi-bold;
			padding: 30px 0 24px;

			@media #{$mq-tablet} {
				font-size: $font-size-regular + 2;
			}

			@media #{$mq-desktop-large} {
				font-size: $font-size-regular + 4;
			}
		}

		ul {
			li {
				display: block;
				margin-bottom: 10px;

				a {
					position: relative;
					display: block;
					color: $color-white;
					font-size: $font-size-regular ;
					font-weight: $font-weight-medium;
					line-height: 1;
					text-align: left;

					@media #{$mq-tablet} {
						line-height: 1.1;
            font-size: $font-size-regular + 2;
					}

          > span {
						color: #203366;
						font-weight: $font-weight-extra-bold;
					}
				}
			}
		}
	}
}
