<div class="l-title">
  <div class="wrapper">
    <div class="c-hero">
      <div class="c-hero-max-width">
        <h1 class="title -blue -huge">FinMark Trust<span style="color: #ffffff"> Data Portal</span></h1>
        <p class="subtitle">Compare indicators across countries and periods. Start by gaining a broad overview of the financial market through <%= link_to 'National Surveys', national_surveys_path %>, and then deepen your understanding of how low-income households manage their financial lives using <%= link_to 'Financial Diaries', financial_diaries_path %>.  Explore the <%= link_to 'MSME sector', msm_enterprises_path %> of a country.
        </p>
      </div>
    </div>
  </div>
</div>
