
.l-dataportal-resume {
  padding: 40px 0;
  background-color: $color-1;
  color: $color-white;

  @media#{$mq-tablet} {
    padding: 44px 0;
  }

  .title {
    display: block;
    margin: 0 0 40px;

    @media #{$mq-tablet} {
      margin-bottom: 48px;
    }
  }

  .row {
    margin-left: -20px;
    margin-right: -20px;

    @media #{$mq-desktop} {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  .stats-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .column {
      padding-left: 20px;
      padding-right: 10px;

      @media #{$mq-desktop} {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .column:not(:first-child):before {
      @media #{$mq-laptop} {
        position: absolute;
        top: 80px;
        bottom: 10px;
        height: auto;
        width: 1px;
        left: 0;
        background-color: $color-white;
        content: "";
      }
    }

    .stats-item {
      display: flex;
      flex-direction: column;
      margin: 0 0 45px;
      position: relative;

      @media#{$mq-laptop} {
        align-items: flex-start;
        margin: 0;
      }

      > img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 16px;

        @media #{$mq-laptop} {
          margin-bottom: 35px;
        }
      }

      p, a {
        color: inherit;
      }

      p {
        line-height: 1.35;
        font-size: $font-size-small;
      }

      > a {
        display: block;
        font-weight: $font-weight-extra-bold;
        margin-top: 15px;
        text-align: left;

        @media #{$mq-tablet} {
          font-size: $font-size-regular + 1;
          margin-top: 28px;
        }
      }

    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    margin: 5px 0 0;

    @media #{$mq-tablet} {
      margin: 40px 0 0;
    }

    > .c-button {
      width: 100%;

      @media #{$mq-tablet} {
        width: auto;
      }
    }
  }
}
